.row{
  text-align:center;
  
}
#choices{
  display:flex;
  justify-content:space-between;
  
}

body{
    background-image:   url("https://cdn.dribbble.com/users/514480/screenshots/5060019/street_fight_8_bit_for_dribbble.gif)""
}